:root{
    --marquee:#002149;
    --green-btn: #3AA64C;
    --red-btn:#F34018;
    --background-toggle-sun:#EDF5FF;
    --background-toggle-moon:#173963;
    --background-toggle-stroke:#B7D7FF;
    --background-transfer:#F5FAFF;
    --background-section:#10315A;
    --background-card:#1C4170;
    --sun-color:#EAAC0C;
    --blue-text:#173963;
    --ash-text:#B3B3B3;
    --deep-ash-text:#656565;
    --border-ash:#C4C4C4;
    --information-color:#5C5C5C;
    --information-blue:#0D458A;
    --ash-btn:#C5CFDC;
    --timeline-color:#84A8D3;
    
    
}